In [8]:
from main_preprocessing_copy1 import *

path_tests = 'C:/Users/Simone/Desktop/data/tests.txt'
path_species = 'C:/Users/Simone/Desktop/data/species.txt'
path_results = 'C:/Users/Simone/Desktop/data/results.txt'
path_chemicals = 'data/cas_smiles_pubchem2d.csv'

final_db = load_process_data(path_tests, path_results, path_species, path_chemicals)

tests loaded
species loaded
results loaded


Finding atom number...
Finding number of alone atoms...
Finding single bounds number...
Finding double bounds number...
Finding triple bounds number...
Finding ring number...
Finding mol number...
Finding morgan density...
Finding partition number (LogP)...
Finding number of OH group...

In [5]:
final_db.to_csv('data/datafusion_db_processed.csv')

In [1]:
import pandas as pd
import numpy as np

db = pd.read_csv('data/datafusion_db_processed.csv').drop(columns = 'Unnamed: 0')
db

,test_cas,obs_duration_mean,conc1_type,exposure_type,control_type,media_type,application_freq_unit,conc1_mean,class,tax_order,...,atom_number,alone_atom_number,bonds_number,doubleBond,tripleBond,ring_number,Mol,MorganDensity,LogP,oh_count
0,50-30-6,72.0,F,AQUA,Unknown,FW,X,0.0500,Actinopterygii,Cypriniformes,...,0.353921,0,0.505817,1,0,1,0.572856,1.272727,2.6916,1
1,62-53-3,72.0,A,R,Unknown,FW,X,0.0550,Actinopterygii,Cypriniformes,...,0.136915,0,0.423283,0,0,1,0.434596,1.000000,1.2688,0
2,62-53-3,72.0,F,AQUA,Unknown,FW,X,0.0500,Actinopterygii,Cypriniformes,...,0.136915,0,0.423283,0,0,1,0.434596,1.000000,1.2688,0
3,62-53-3,24.0,A,S,Unknown,FW,X,0.0162,Actinopterygii,Cyprinodontiformes,...,0.136915,0,0.423283,0,0,1,0.434596,1.000000,1.2688,0
4,62-53-3,96.0,A,AQUA,C,FW,X,112.0000,Actinopterygii,Cypriniformes,...,0.136915,0,0.423283,0,0,1,0.434596,1.000000,1.2688,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4384,7287-19-6,96.0,A,S,C,FW,X,0.2000,Actinopterygii,Cypriniformes,...,0.473649,0,0.576717,0,0,1,0.618020,0.875000,2.2341,0
4385,78-51-3,96.0,A,R,V,FW,E X H,6.2500,Actinopterygii,Beloniformes,...,0.651017,1,0.663205,1,0,0,0.714935,0.500000,4.5944,0
4386,115-96-8,96.0,A,R,V,FW,E X H,6.2500,Actinopterygii,Beloniformes,...,0.534913,1,0.537196,1,0,0,0.650459,0.785714,2.8607,0
4387,115-96-8,96.0,A,R,V,FW,DLY,5.0000,Actinopterygii,Cypriniformes,...,0.534913,1,0.537196,1,0,0,0.650459,0.785714,2.8607,0
4388,64-75-5,24.0,F,S,M,FW,X,2.5000,Actinopterygii,Characiformes,...,0.684577,7,0.729447,5,0,4,0.751314,1.151515,-3.2545,5

In [10]:
pd.crosstab(final_db.endpoint, final_db.effect)

effect    ACC  BCM  BEH  CEL  ENZ  GEN  ITX  MLT  PHY
endpoint
BCF       663    0    0    0    0    0    0    0    0
EC50        0    0  376    0    0    0  115  112    0
LOEC        0  461   97  116  442  442    0    0  186
NOEC        0  409    0   98  375  338    0    0  159