In [1]:
from main_preprocessing import *

path_tests = 'C:/Users/Simone/Desktop/data/tests.txt'
path_species = 'C:/Users/Simone/Desktop/data/species.txt'
path_results = 'C:/Users/Simone/Desktop/data/results.txt'

tests, species, results = load_raw_data(path_tests, path_results, path_species)

tests loaded
species loaded
results loaded

In [17]:
# Filtro sugli endpoint 
resc = results[results.endpoint.str.contains('NOEC')]

# Filtro sull'effetto -- Vedere anche gli altri effetti (occhio Growth perch√® sono tutti Embrions)
resc_acc = resc[resc.effect.isin(['BCM', 'ENZ', 'GEN', 'GRO', 'MOR'])]

# Filtro sulle specie
species = species[~species.ecotox_group.isnull()]
species_fish = species[species.ecotox_group.str.contains("Fish")]

# Unisco le informazioni sui pesci con gli esperimenti
test_fish_only = tests.merge(species_fish, on="species_number")

# Unisco le informazioni sui risultati degli esperimenti con gli esperimenti
results_prefilter = resc_acc.merge(test_fish_only, on = "test_id")

In [18]:
from general_helper import *

df_noc = null_output_counts(results_prefilter)
df_noc = df_noc[(df_noc['null_values_inc_NC_NR%'] <30) & (df_noc['#outputs']>1)]
df_noc

C:\Users\Simone\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

                           null_values_inc_NC_NR% #outputs
result_id                                       0    37531
test_id                                         0    14117
obs_duration_mean                         2.84831      274
obs_duration_unit                       0.0293091       27
endpoint                                        0        2
trend                                      7.8202        6
effect                                          0        5
measurement                                     0     2207
response_site                             24.5477       96
conc1_type                              0.0932562        8
conc1_mean                                  6.448     2222
conc1_unit                                      0      148
significance_code                         1.93707        7
significance_type                         5.62202        4
significance_level_mean_op                16.0347        5
significance_level_mean                   5.81386      344
chem_analysis_method                       1.4095        6
endpoint_assigned                         2.72308        4
additional_comments_x                           0     3233
created_date_x                                  0     1980
modified_date_x                           18.8484     1655
reference_number                                0     2636
test_cas                                        0     1303
test_characteristics                      13.6207     2164
species_number                                  0      306
organism_habitat                                0        2
organism_lifestage                        28.2966       50
study_duration_mean                       26.0824      206
study_duration_unit                       25.3018       21
exposure_duration_mean                    25.5016      199
exposure_duration_unit                    24.5237       18
test_location                           0.0532893        5
exposure_type                             1.69993       33
control_type                             0.255789       11
media_type                               0.692761        7
num_doses_mean                            6.96224       17
application_freq_unit                     8.32911       66
application_type                          26.8232       12
application_rate_unit                      27.436        7
application_season                        27.4466        4
subhabitat                                26.5141        8
substrate                                 27.1829        7
water_depth_unit                          26.8232        7
geographic_code                           26.2476       30
halflife_unit                             27.4307        5
additional_comments_y                           0     1049
created_date_y                                  0     1922
modified_date_y                           18.5367     1505
published_date                            2.34206       67
common_name                                     0      284
latin_name                                      0      306
superclass                               0.207828        3
class                                  0.00266446        4
tax_order                              0.00266446       28
family                                 0.00799339       90
genus                                    0.189177      207
species                                  0.189177      265
ecotox_group                                    0        7

In [19]:
results_prefilter

,result_id,test_id,sample_size_mean_op,sample_size_mean,sample_size_min_op,sample_size_min,sample_size_max_op,sample_size_max,sample_size_unit,sample_size_comments,...,subphylum_div,superclass,class,tax_order,family,genus,species,subspecies,variety,ecotox_group
0,216800,1224309,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,Vertebrata,Osteichthyes,Actinopterygii,Salmoniformes,Salmonidae,Oncorhynchus,mykiss,NaN,NaN,"Fish,Standard Test Species,U.S. Exotic/Nuisanc..."
1,776170,1317825,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,Vertebrata,Osteichthyes,Actinopterygii,Cyprinodontiformes,Cyprinodontidae,Fundulus,heteroclitus,NaN,NaN,"Fish,Standard Test Species"
2,792196,1332284,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,Vertebrata,Osteichthyes,Actinopterygii,Cypriniformes,Cyprinidae,Pimephales,promelas,NaN,NaN,"Fish,Standard Test Species"
3,798655,1337909,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,Vertebrata,Osteichthyes,Actinopterygii,Scorpaeniformes,Cottidae,Cottus,bairdi,NaN,NaN,Fish
4,2013668,1258497,NaN,NaN,NaN,NR,NaN,NR,ML,NaN,...,Vertebrata,Osteichthyes,Actinopterygii,Cypriniformes,Cyprinidae,Pimephales,promelas,NaN,NaN,"Fish,Standard Test Species"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37526,796257,1335883,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,Vertebrata,Osteichthyes,Actinopterygii,Salmoniformes,Salmonidae,Oncorhynchus,mykiss,NaN,NaN,"Fish,Standard Test Species,U.S. Exotic/Nuisanc..."
37527,740526,1286310,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,Vertebrata,Osteichthyes,Actinopterygii,Cypriniformes,Cyprinidae,Danio,rerio,NaN,NaN,"Fish,Standard Test Species"
37528,2307354,2159352,NaN,9,NaN,NR,NaN,NR,OR,NaN,...,Vertebrata,Osteichthyes,Actinopterygii,Cypriniformes,Cyprinidae,Danio,rerio,NaN,NaN,"Fish,Standard Test Species"
37529,2362182,2182427,NaN,NR,NaN,NR,NaN,NR,NR,NaN,...,Vertebrata,Osteichthyes,Actinopterygii,Cypriniformes,Cyprinidae,Danio,rerio,NaN,NaN,"Fish,Standard Test Species"
37530,2404992,2201618,NaN,NR,NaN,NR,NaN,NR,NR,NaN,...,Vertebrata,Osteichthyes,Actinopterygii,Perciformes,Moronidae,Dicentrarchus,labrax,NaN,NaN,"Fish,Standard Test Species"