In [2]:
from helper_preprocessing import *

path_tests = 'C:/Users/Simone/Desktop/Utilità tesi magistrale/data/tests.txt'
path_species = 'C:/Users/Simone/Desktop/Utilità tesi magistrale/data/species.txt'
path_results = 'C:/Users/Simone/Desktop/Utilità tesi magistrale/data/results.txt'


tests, species, results = load_raw_data(path_tests, path_results, path_species)

tests loaded
species loaded
results loaded

In [3]:
prefiltered_data = prefilter(species, tests, results)

In [4]:
print('Tests table dimensions: ', tests.shape)
print('Species table dimensions: ', species.shape)
print('Results table dimensions: ', results.shape)

print('Prefiltered dimensions: ', prefiltered_data.shape)

Tests table dimensions:  (681605, 122)
Species table dimensions:  (27125, 15)
Results table dimensions:  (1006972, 137)
Prefiltered dimensions:  (64341, 272)

In [10]:
from general_helper import null_output_counts

df = null_output_counts(prefiltered_data)

df[(df['null_values_inc_NC_NR%'] <50) & (df['#outputs']>1)]

                         null_values_inc_NC_NR% #outputs
result_id                                     0    64341
test_id                                       0    61087
obs_duration_mean                       1.77803      310
obs_duration_unit                      0.296856       13
endpoint                                      0        6
trend                                   47.1006        5
effect                                        0        4
measurement                                   0        7
conc1_type                              2.69968        8
conc1_mean                              4.07361     9497
conc1_min                               48.5274     7357
conc1_max                               48.5289     8213
conc1_unit                           0.00777109       61
chem_analysis_method                    20.5126        9
endpoint_assigned                       49.7164        4
additional_comments_x                         0     6320
created_date_x                                0     2090
reference_number                              0     3926
test_cas                                      0     3481
test_characteristics                      45.22     5079
species_number                                0      616
organism_characteristics                 31.574     6540
test_location                           1.25425        4
exposure_type                           8.29953       20
control_type                            13.1114       12
media_type                           0.00155422        8
application_freq_mean                    37.853       19
application_freq_unit                   15.7458       28
additional_comments_y                         0      462
created_date_y                                0     2084
modified_date_y                         48.8786     1830
published_date                          46.6732       68
common_name                                   0      542
latin_name                                    0      616
superclass                            0.0108795        3
class                                 0.0916989        4
tax_order                             0.0916989       30
family                                 0.119675      107
genus                                  0.303073      324
species                                0.303073      516
ecotox_group                                  0        7

In [46]:
db = select_impute_features(prefiltered_data)
print(db.columns)
print(db.shape)

Index(['obs_duration_mean', 'endpoint', 'effect', 'measurement', 'conc1_type',
       'conc1_mean', 'test_cas', 'exposure_type', 'control_type', 'media_type',
       'application_freq_unit', 'class', 'tax_order', 'family', 'genus',
       'species'],
      dtype='object')
(50160, 16)

In [59]:
db = repeated_experiments(db)
print(db.columns)
print(db.shape)

Index(['test_cas', 'obs_duration_mean', 'conc1_type', 'fish', 'exposure_type',
       'control_type', 'media_type', 'application_freq_unit', 'conc1_mean',
       'class', 'tax_order', 'family', 'genus', 'species'],
      dtype='object')
(28815, 14)

In [65]:
len(db.test_cas.unique())

3198

In [68]:
cas = pd.DataFrame(db.test_cas.unique(), columns = ['test_cas'])
cas

      test_cas
0        50000
1        50066
2        50293
3        50317
4        51036
...        ...
3193  51312244
3194   8015358
3195  77458016
3196  56863899
3197  73989170

[3198 rows x 1 columns]

In [ ]:
def extract_chemical_data(final_db):